{% extends 'components/main.html' %}
{% load static %}
{% block content %}


<section>
    
    <ul class="list-group list-group-flush">
        <li class="list-group-item">First Name:<span class="stable"><input name="name" value="{{patient.firstName}} {{patient.middleName}} {{patient.lastName}}" type="text" disabled /></span></li>
        <li class="list-group-item">Registration Number:<span class="stable"><input name="regNumber" value="{{patient.regNumber}}" type="text" disabled></span></li>
        
        
        <li class="list-group-item">Gender:<span class="stable"><input name="gender" value="{{patient.gender}}" type="text" disabled></span></li>
        <li class="list-group-item">Date-Of-Birth: <span class="stable"><input name="dateOfBirth" value="{{patient.dateOfBirth}}" disabled type="text"></span></li>

    </ul>

    <div class="details">
        <span class="h3" style="color:white"> For Front Desk:</span>
        <form style="color: white;" class="row" method="post">
            {% csrf_token %}
            <div class="input col-6 d-grid justify-content-center">
                <p class="size">Pls Select A Doctor On Duty:</p>
                <select name="docOnFile">
                    <option value="Doc Ben">Doc Ben</option>
                    <option value="Doc Mike">Doc Mike</option>
                    <option value="Doc Suen">Doc Seun</option>
                    <option value="Doc Peter">Doc Peter</option>
                </select>

            </div>

            <div class="input col-6 d-grid justify-content-center">
                <p class="size">Pls Select A Dpctor On Duty:</p> <br>
                <select name="nurseOnFile">
                    <option value="Nurse Hannah">Nurse Hannah</option>
                    <option value="Nurse Yinka">Nurse Yinka</option>
                    <option value="Nurse Zainab">Nurse Zainab</option>
                    <option value="Nurse Betty">Nurse Betty</option>
                </select>

            </div>
            <div class="col-12 d-flex justify-content-center">
                <button type="submit" class="btn-lg">submit</button>
            </div>
            

        </form>
       
    </div>
</section>

{% endblock %}